.home{
    flex: 4;
}

.homeWidgets{
    display: flex;
    margin: 20px;
}

.widgetSm{
    flex: 1;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    padding: 20px;
    margin-right: 20px;
}

.widgetSmTitle{
    font-size: 22px;
    font-weight: 600;
}

.widgetSmImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.widgetSmList{
    margin: 0;
    padding: 0;
    list-style: none;
}

.widgetSmListItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
}

.widgetSmUser{
    display: flex;
    flex-direction: column;
}

.widgetSmUsername{
    font-weight: 600;
}

.widgetSmUserTitle{
    font-weight: 300;
}

.widgetSmButton{
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    background-color: #eeeef7;
    color: #555;
    cursor: pointer;
}

.widgetSmIcon{
    font-size: 16px !important;
    margin-right: 5px;
}


.product {
    flex: 4;
    padding: 20px;
  }
  
  .productTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .productAddButton {
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .productTop {
    display: flex;
  }
  
  .productTopLeft,
  .productTopRight {
    flex: 1;
  }
  
  .productTopRight {
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  }
  
  .productInfoImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .productInfoTop {
    display: flex;
    align-items: center;
  }
  
  .productName {
    font-weight: 600;
  }
  
  .productInfoBottom {
    margin-top: 10px;
  }
  
  .productInfoItem {
    width: 150px;
    display: flex;
    justify-content: space-between;
  }
  
  .productInfoValue {
    font-weight: 300;
  }
  
  .productBottom {
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  }
  
  .productForm {
    display: flex;
    justify-content: space-between;
  }
  
  .productFormLeft {
    display: flex;
    flex-direction: column;
  }
  
  .productFormLeft > label {
    margin-bottom: 10px;
    color: gray;
  }
  
  .productFormLeft > input {
    margin-bottom: 10px;
    border: none;
    padding: 5px;
    border-bottom: 1px solid gray;
  }
  
  .productFormLeft >select{
    margin-bottom: 10px;
  }
  
  .productUploadImg{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .productFormRight{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .productUpload{
    display: flex;
    align-items: center;
  }
  
  .productButton{
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: darkblue;
    color:white;
    font-weight: 600;
    cursor: pointer;
  }


  .featured {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .featuredItem {
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  }
  
  .featuredTitle{
      font-size: 20px;
  }
  
  .featuredMoneyContainer{
      margin: 10px 0px;
      display: flex;
      align-items: center;
  }
  
  .featuredMoney{
      font-size: 30px;
      font-weight: 600;
  }
  
  .featuredMoneyRate{
      display: flex;
      align-items: center;
      margin-left: 20px;
  }
  
  .featuredIcon{
      font-size: 14px;
      margin-left: 5px;
      color: green;
  }
  
  .featuredIcon.negative{
      color: red;
  }
  
  .featuredSub{
      font-size: 15px;
      color: gray;
  }